pandas==1.0.2
numpy==1.18.1
requests==2.23.0
beautifulsoup4==4.9.0
matplotlib==3.2.0
jupyter==1.0.0              
jupyter-client==6.0.0              
jupyter-console==6.1.0              
jupyter-core==4.6.3 
pytest==5.4.1
tqdm==4.43.0
jupytext==1.4.2
